<ion-header>
    <ion-toolbar>
        <ion-title class="subtitulo">
            Cart
        </ion-title>

        <ion-buttons slot="start">
            <ion-button (click)="openMenu()">
                <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button routerLink='/'>
                <ion-icon color="primary" slot="icon-only" name="storefront"></ion-icon>
            </ion-button>
            <ion-button routerLink='/perfil'>
                <ion-icon color="primary" slot="icon-only" name="person-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let producto of pedido.productos">

        <app-itemcart [productoPedido]="producto"></app-itemcart>
    </div>
</ion-content>

<ion-footer>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col class="normal text-center white" size="6" style="border-right: 1px solid #ccc">
                Cantidad: {{cantidad}}
            </ion-col>
            <ion-col class="normal text-center white" size="6">
                Total: $ {{total}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="pedir()" expand="full" class="normal white">
                    Pedir
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-footer>